/*
 *settings theme  
 */

$color_theme_one: #000;
$color_theme_one_bg: rgba(0, 0, 0, 0.7);
$color_theme_two: #fff;
$add_color_theme: #f4511e;
$add_color_theme2: #eee;
$add_color_theme3: #ddd;
$font_family: 'Raleway', sans-serif;

